* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5em;

    overflow: hidden;
}

body span {
	font-weight: 300;
}

#container {
    width: 600px; /*Ширина блока*/
    height:200px; /*Высота блока*/
    margin:0 auto;
    overflow: visible;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-300px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-100px; /*Смещаем блок на половину высоты вверх*/
    background:#ffffff;
}

.center {
    height:100%;
}