# Игнор-лист файлов проекта
# Игнорируем config.ini (у нас там вся приватная информация)
config.ini
# Игнорируем все папки conf (у нас там все конфигурационные файлы)
# conf/*
# Игнорируем содержимое папки сертификатов
conf/certificates/
