{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html">
    <link type="text/css" href="{% static 'index.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:100,300,500&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>Cocktail Manager | Home</title>
</head>
<body>
	<div id="container" align="center">
		<div class="center">
			<p>Hello, I'm <span>Cocktail Manager</span>!<br>Let's me help you with <span>your</span> choice!</p>
		</div>
	</div>		
</body>
</html>