[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/app/CocktailManager
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 127.0.0.1:8001 --access-logfile /app/log/gunicorn-access.log --log-file /app/log/gunicorn-error.log --max-requests=1024 CocktailManager.wsgi:application

[Install]
WantedBy=multi-user.target